<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            height: 100vh;
            background-color: #c4c4c4e0;
        }
        form {
            max-width: 800px;
            margin: 0 auto;
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h1 {
            text-align: center;
            margin-bottom: 30px;
        }
        .delete-button {
            margin-top: 20px;
        }
        .botones{
            display:flex;
            align-items:center;
            justify-content: center;
            padding:5px;
            gap:10px;
            button{
                width:50%;
            }
        }
    </style>
</head>
<body>
    <%- include('partials/banner', { showBackButton: true, loggedIn: true }) %>  
    <%- include('partials/nav') %>

    <div class="container">
        <h1 class="mt-5">Editar Usuario</h1>
        <form action="/edit_user/<%= user.id %>" method="POST">
            <div class="form-group">
                <label for="username">Nombre de Usuario:</label>
                <input type="text" id="username" name="username" class="form-control" value="<%= user.username %>">
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" class="form-control" value="">
            </div>
            <div class="form-group">
                <label for="isAdmin">¿Es Administrador?</label>
                <select id="isAdmin" name="isAdmin" class="form-control">
                    <option value="false" <% if (!user.isAdmin) { %>selected<% } %>>No</option>
                    <option value="true" <% if (user.isAdmin) { %>selected<% } %>>Sí</option>
                </select>
            </div>
            <div class="botones">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                
            </div>
        </form>
        <form action="/delete_user/<%= user.id %>" method="POST" class="delete-button">
            <button type="submit"   class="btn btn-danger">Eliminar Usuario</button>
        </form>
    </div>
</body>
</html>
